<%= render 'layouts/banner' %>
    <div class="container">
        <div class="row">
            <% @events.each do |event| %>
                <%= render 'card', resource: event %>
            <% end %>
        </div>
    </div>
</div>

